<tr>
  <td style="border-bottom:1px dotted #000">{{from}}<br></td>
  <td style="border-bottom:1px dotted #000">{{to}}<br></td>
  <td style="border-bottom:1px dotted #000">{{dep}}</td>
  <td style="border-bottom:1px dotted #000">{{arr}}</td>
  <td style="border-bottom:1px dotted #000">{{airline}}</td>
  <td style="border-bottom:1px dotted #000">{{aircode}}</td>
</tr>
