<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <table style="font-size:12px;font-family:arial,sans-serif;width:550px">
    <tr>
    <td>
      <h1 style="font-size:16px;border-bottom:1px solid #000;margin-bottom:15px">Trip ID {{trip_ref}}: {{trip_details}}</h1>
      <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">{{boarding_airport}}</h2>
    <table cellspacing="0" width="100%" border="0" style="margin-bottom:15px;font-size:12px">
    <tr>
    <td><strong>From</strong></td>
    <td><strong>To</strong></td>
    <td><strong>Leaves</strong></td>
    <td><strong>Arrives</strong></td>
    <td><strong>Airline</strong></td>
    <td><strong>Flight</strong></td>
    </tr>
    {{# segments}}
      {{> segment}}
    {{/segments}}
    </table>
    <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">Passenger details</h2>
    <table cellpadding="2" cellspacing="0" border="0" width="100%" style="margin-bottom:15px;font-size:12px">
    <tr>
    <td style="border-bottom:1px dotted #000"><strong>Name</strong></td>
    <td style="border-bottom:1px dotted #000"><strong>PNR</strong></td>
    <td style="border-bottom:1px dotted #000"><strong>Total Price</strong></td>
    </tr>
    {{#paxes}}
      {{> pax}}
    {{/paxes}}
    </table>
    <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">Contact details</h2>
    <table style="margin-bottom:15px;font-size:12px">
    <colgroup>
    <col width="100px">
    <col>
    </colgroup>
    <tr>
    <td><strong>Name</strong></td>
    <td>{{name}}</td>
    </tr>
    <tr>
    <td><strong>Email</strong></td>
    <td><a href="mailto:{{email}}" target="_blank">{{email}}</a></td>
    </tr>
    <tr>
    <td><strong>Address</strong></td>
    <td>{{address}}</td>
    </tr>
    <tr>
    <td><strong>Tel</strong></td>
    <td><a href="tel:%2B{{phone}}" value="+{{phone}}" target="_blank">+{{phone}}</a></td>
    </tr>
    <tr>
    <td><strong>Mobile</strong></td>
    <td>{{mobile}}</td>
    </tr>
    </table>
    <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">Pricing details</h2>
    <table style="margin-bottom:15px;font-size:12px">
    <colgroup>
    <col width="100px">
    <col>
    </colgroup>
    <tr>
    <td><strong>Adult price</strong></td>
    <td>{{adult_price}}</td>
    </tr>
    <tr>
    <td>Cash Back</td>
    <td>{{cash_back}}</td>
    </tr>
    <tr>
    <td><strong>Other Charges</strong></td>
    <td>{{other_charges}}</td>
    </tr>
    <tr>
    <td><strong>Total</strong></td>
    <td><strong>{{total}}</strong></td>
    </tr>
    </td></table>
    <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">Fare rules</h2>
    <div style="margin-bottom:15px">
    Fare rule for <strong>New Delhi to Patna</strong>
    <ul>
    <li>Cleartrip classifies this as a <strong>Refundable</strong> fare</li>
    <li><strong>Cancellation Charges</strong>
    <ul>
    <li>Adult: only Rs. 1584.0 will be deducted</li>
    <li>Child: only Rs. 1584.0 will be deducted</li>
    <li>Infant: only Rs. 0.0 will be deducted</li>
    </ul></li>
    <li><strong>Amendment in Higher Class Charges</strong>
    <ul>
    <li>Adult Rebooking In Higher Class: only Rs. 1584.0 will be deducted</li>
    <li>Child Rebooking In Higher Class: only Rs. 1584.0 will be deducted</li>
    <li>Infant Rebooking In Higher Class: only Rs. 0.0 will be deducted</li>
    </ul></li>
    <li><strong>Amendment in Same Class Charges</strong>
    <ul>
    <li>Adult Rebooking In Same Class: only Rs. 1584.0 will be deducted</li>
    <li>Child Rebooking In Same Class: only Rs. 1584.0 will be deducted</li>
    <li>Infant Rebooking In Same Class: only Rs. 0.0 will be deducted</li>
    </ul></li>
    </ul>
    <ul>
    <li>In case of Cancellation/Reissue/<wbr>revalidation of No Show,100.0% of base fare+ YQ + YR will be forfeited.</li>
    </ul><ul>
    <li>If Cancellation is done through the customer support executives assistance, we will levy Rs. 500 per passenger per flight.</li>
    <li>If amendment is done through the customer support executives assistance, we will levy Rs. 300 per passenger per flight.</li>
    <li>The rebooking/cancellation charges given above are levied on a per-passenger per-flight basis.</li>
    <li>Rebooking charges plus the difference of fare will be charged incase rebooked on higher <span>RBD</span>.</li>
    <li>In case you cancel within two hour prior to departure NO <span>SHOW</span> charges will be applicable.</li>
    <li>We do not accept cancellations / Amendments over email.</li>
    <li>Amendment/Change fee of the Airline is Non-refundable in case of cancellation post amendment.</li>
    <li>Photo id required at check in.</li>
    </ul><ul>
    <li>Over and above the airline cancellation charges, We will levy Rs. 250 per passenger per flight if you cancel it online from your Cleartrip account.</li>
    </ul><ul>
    <li>Over and above the airline amendment charges, We will levy Rs. 200 per passenger per flight if you amend it online from your Cleartrip account.</li>
    </ul>
    </div>
    <h2 style="font-size:14px;border-bottom:1px solid #000;margin-bottom:1px">Booking Policy</h2>
    <ul>
    <li>The total price displayed includes all applicable
    government
    taxes.</li>
    <li>You are required to pay the entire amount prior to the
    confirmation of your booking.</li>
    <li>There will be no refund for &#39;no-shows&#39; or any partially unused
    flights.</li>
    <li>To avail of infant fares, an infant must be under 24 months
    throughout the entire itinerary you are booking. This includes both
    onward and return journeys. If the infant is 24 months or above on the
    return journey, you&#39;ll need to make a separate booking using a child
    fare.</li>
    <li>Infants must be accompanied by an adult at least 18 years of
    age.</li>
    <li><b>Check in: </b>
    <ul>
    <li>As per the airline rules, the standard check-in time begins 2
    hours before departure.</li>
    <li>For Air India flights the check-in time is 3 hours before
    departure and is at the International Terminal.</li>
    <li>The passenger needs to check-in atleast 45 minutes prior to flight departure (1 hours for Air India and 45 minutes for AI express) else the reservation will be cancelled and passenger will be considered as a no show.</li>
    <li>Infants must have valid proof-of-age documents showing that the
    infant is under two years old.</li>
    </ul>
    </li>
    <li><b>Amendments: </b>
    <ul>
    <li>Cleartrip can assist you with amendments to most bookings (7:30 am to 9:30 pm). In some cases, though, you&#39;ll need to contact the airline directly.</li>
    <li>Every booking made on Cleartrip is subject to amendment charges
    levied by the airline, which may vary by flight and booking class.</li>
    <li>If you amend your booking, you will be charged the difference
    in fare, if any, applicable when the amendment is made. However if the new fare is lower than the Original fare, difference in the amount will not be refunded,but the rebooking charges as applicable will be collected.</li>
    <li>In addition to the airline&#39;s amendment charges, Cleartrip
    charges an amendment handling fee of Rs 300 per passenger per
    segment (This is not applicable for bookings done through cleartripforbusiness)</li>
    <li>We&#39;ll collect these charges from you when we make the changes
    to your travel plans. We&#39;ll also collect the difference in fare, if
    any, applicable when the amendment is made.</li>
    <li>Depending on the airline&#39;s policy, some booked fares may not be
    amended.</li>
    <li>All bookings made through us, can also be amended by calling up the Airline Call Center directly</li>
    </ul>
    </li>
    <li><b>Cancellation Policy:</b>
    <ul>
    <li>Every booking made on Cleartrip is subject to cancellation
    charges levied by the airline, which may vary by flight and booking
    class.</li>
    <li>Some booked fares may be non-refundable per the specific
    airline&#39;s policy.</li>
    <li><strong>Online cancellations:</strong> Cancellations can be made online by
    signing in to your Cleartrip Account. Step by step details for online
    cancellations are available <a href="http://www.cleartrip.com/faq/account/tour/flights_cancellation.shtml" target="_blank">here</a></li>
    <li><strong>Offline cancellations:</strong> We also accept cancellation requests
    through phone. However Cleartrip cancellation charges for such
    offline cancellations may be higher</li>
    <li>Cleartrip cancellation charges: Over and above the airline
    cancellation charges, Cleartrip will levy Rs 300 per passenger per
    segment for each cancellation (This is not applicable for bookings done through cleartripforbusiness)</li>
    <li>Only cancellation requests made online or telephonic through
    our customer support shall be entertained. Cleartrip shall not be
    liable to entertain any cancellation requests made through any other
    medium including but not limited to sms, e-mail</li>
    <li>For e-tickets, if your cancellation request is made less than 3
    hours before departure, you&#39;ll need to contact the airline directly to
    get your reservation cancelled</li>
    </ul>
    </li>
    <li><b>Refunds</b>
    <ul>
    <li>It is mandatory to contact Cleartrip for all refunds, as the
    airline will not be able to refund your tickets booked at <a href="http://www.cleartrip.com" target="_blank">cleartrip</a>.</li>
    <li>If you need a refund for paper tickets, please send them back
    to us. Your tickets must reach us within 48 hours of the time of
    cancellation so that we can get them endorsed by the airline for you.<u></u>
    <li>If your paper ticket gets lost or damaged, the airline will not
    be able to process a refund request.</li>
    <li>All cancellations made directly with the Airline need to be intimated to Cleartrip by Email or Phone in order to initiate the refunds process</li>
    <li>Processing times for cancellation and refund requests vary.</li>
    </li></ul>
    </li>
    <li>For complete flight booking terms and conditions <a href="http://www.cleartrip.com/terms/airline_terms.shtml" target="_blank">click here</a>.</li>
    </ul>
    </td>
    </tr>
    </table>
  </body>
</html>
